.meter {
  height: 20px;
  position: relative;
  background: rgb(243, 239, 239);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #aaa5ff;
  position: relative;
  overflow: hidden;
}
.skill {
  line-height: 3.5vw;
}
.skill-bars {
  font-size: 28px;
  width: 40%;
}
.skills-container {
  display: flex;
  width: 90%;
  margin: 0px auto;
}
.skills-container > * {
  flex: 1;
  margin-bottom: 30px;
}
.skills-image > img {
  margin-left: 80px;
  max-width: 90%;
  height: auto;
}

.skills-image svg {
  width: 500px !important;
  height: 500px !important;
  padding-left: 100px !important;
  /* margin-top: -51px !important;   */
}

/* Media Query */

@media (max-width: 1456px) {
  .skills-bar {
    line-height: 4rem;
  }
  .skills-image {
    /* display: none; */
    order: 2;
  }
}

@media (max-width: 1200px) {
  .skills-container {
    flex-direction: column;
  }
  .skills-bar {
    line-height: 3rem;
    margin: 20px;
  }
  .skills-image {
    /* display: none; */
    order: 2;
  }
  .skills-image svg {
    padding-left: 200px !important;
  }
}

@media (max-width: 800px) {
  .skills-image svg {
    padding-left: 100px !important;
  }
}

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
  margin-left: 15rem;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: #868e96;
}

.software-skill-inline > i:hover {
  color: #645beb;
}
.software-skill-inline > p {
  color: #868e96;
  font-size: 10px;
  text-align: center;
}
.software-skill-inline > i:hover ~ p {
  color: #645beb;
}

.dev-text {
  float: left;
  font-size: 20px;
  font-weight: 900;
}

@media (max-width: 600px) {
  .skills-image {
    visibility: hidden !important;
    display: none !important;
  }
}

/* @media (max-width: 1100px) {
  .skills-image svg{
    width: 400px !important;
    height: 400px !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 770px) {
  .skills-image svg{
    width: 400px !important;
    height: 400px !important;
    padding-left: 100px !important;
  }
} */

@media (max-width: 1210px) {
  p.dev-text {
    display: contents !important;
  }
  .dev-icons {
    margin-left: 0 !important;
  }
}
